* {
  margin: 0px;
  padding: 0px;
}

.column-left {
  width: 25em;
  height: 1000px;
  border: 1px solid black;
  float: left;
  padding-left: 30px;
}

.contact {
  margin: 3em;
  line-height:1;
}

.sidebar {
  display: inline-block;
  font-size: 1.25em;
  font-family: 'Quicksand', sans-serif;
}
