* {
  margin: 0px;
  padding: 0px;
}

.column-left {
  width: 200px;
  height: 500px;
  border: 1px solid black;
  float: left;

}

#logo {
  font-family: "KR Sweet Tooth";
  font-size: 150px;
  margin:0px;
  padding: 0px;
  line-height: 10px;

}
