* {
  margin: 0px;
  padding: 0px;
}

.column-left {
  width: 40%;
  height: 1000px;
  border: 1px solid black;
  float: left;
  padding-left: 30px;
}

.contact {
  margin: 3em;
  line-height:1;
}

.sidebar {
  display: inline-block;
  font-size: 1.25em;
  font-family: 'Quicksand', sans-serif;
  padding: 30px;
}

.table {
  width: 100%;
  padding: 1em;
}

.column-right {
  width: 40%;
  border: 1px, solid, black;
  display: inline-block;
  font-size: 1.25em;
  font-family: 'Quicksand', sans-serif;
  float:right;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}

tr, td {
  padding-right: 30px;
}
