

.nav-li-left {
  display: inline-block;
  float: left;
  text-decoration: none;
  padding-top: 26px;
  width:1.25em;
  height: 2.625em;
  text-align: center;
  margin: 0px;
  color: gray;
  width:19.8%;
}

.nav-li-right {
  display: inline-block;
  float: left;
  text-decoration: none;
  padding-top: 1.6em;
  padding-left: 2.692em;
  width: 7.50em;
  height: 2.625em;
}

ul {
  margin: 0px;
  padding: 0px;
  clear: left;
}

li {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  height: 5.25px;
  margin: 0px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.align-left {
  margin-left: 0px;
  padding-left: 0px;
  margin: 0px;
  float: left;
  width: 100%;
  text-decoration: none;
}

.align-right {
  margin-left: 0px;
  padding-left: 0px;
  margin: 0px;
  float: right;
  max-width: 40%;
}

.minus-padding {
  padding: 0px;
  margin: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 69px;
  opacity: 50%;
  position: fixed;
  z-index: 100;
  border: 2px solid white;
  background-image: linear-gradient(white, gray);
  opacity: 0.5;
}

.main-photo {
  max-height: 62.5em;
  width: auto;
  position: relative;
}

#heading {
  font-size: .2rem;
}

@media (max-width: 490px) {

  .nav-li-left {
    position: relative;
    display: block;
    float: none;
    text-decoration: none;
    padding-top: 26px;
    width: 100%;
    height: 2.625em;
    text-align: center;
    margin: 0px;
    color: gray;
  }

  ul .nav-li-left {
    background-image: linear-gradient(white, gray);
  }

  body {
    margin: 0;
    padding: 0;
  }

  .minus-padding {
    padding: 0px;
    margin: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 69px;
    opacity: 50%;
    position: fixed;
    z-index: 100;
    border: 2px solid white;
    background-image: linear-gradient(white, gray);
    opacity: 0.5;
  }

  .main-photo {
    max-height: 62.5em;
    width: auto;
    position: relative;
  }

  #heading {
    font-size: .2rem;
  }

  #nav {
    position:relative;
  }
  h1 {
    display: none;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
    font-size: 10em;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 175vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    text-shadow: 1px 1px 20px black;
    line-height: 220px;
  }

  div.column-left {
    width: 100%;
    margin-right: auto;
    min-height: fit-content;
    max-height: 80em;
    float: left;
    margin-left: auto;
    padding: 0;
}
  .sidebar {
    display: inline-block;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    padding: 0em 1.875em 2.62em 1.875em;
    margin-top: 0px;
  }

  p#sidebar-title.sidebar{
    font-size: 1.5em;
    line-height: normal;
    margin-top: 0em;
    padding: 1em;
    width: 80%;
    text-align: center;

  }

  div.address > p.sidebar {
    display: inline-block;
    font-size: 0.75em;
    font-family: 'Quicksand', sans-serif;
    padding: 0em 1.875em 2.62em 1.875em;
    margin-top: 0px;
  }
  div.column-right {
    width: 100%;
    border: 1px, solid, black;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    float: right;
  }

  .table {
    width: 100%;
    margin-left: 0px;
    border-left: 0px;
    padding-right: 2em;
  }

  img.circle {
    display: none;
  }

  div .grid > a > p {
    font-size: 1em;
    margin: 2px;
  }

  ul#footer-ul > li.footer-li > a {
    width: 100%;
    font-size: 1.5em;
  }
  ul#footer-ul > li.footer-li {
    width: 100%;
  }
  tbody > tr > td {
    padding: 0;
    min-width: 8em;
    text-align: center;
  }
  tr th {
    display: none;
  }
  h2#employees {
      font-size: 3em;
      position: relative;
      top: 1.5em;
      width: 100%;
      display: block;
      max-height: 4.1em;
      display: block;
      font-family: 'Josefin Slab', serif;
      font-weight: bolder;
      color: white;
      text-decoration: none;
      text-align: center;
      text-shadow: 1px 1px 20px black;
      line-height: 20px;
  }

  ul#footer-ul > li.footer-li {
    line-height: 120%;
    width: 20%;
    padding: 2px;
  }

  ul#footer-ul > li.footer-li > a {
    line-height: 120%;
    width: 100%;
    font-size: 0.5em;
    text-align: center;
  }

}
