.button {
  display: block;
  position: relative;
  border: 1px solid black;
  border-radius: 50%;
}

footer {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.footer-row {
  width: 100%;
  height: 200px;
  display: block;
  position: fixed;
}

.footer-li {
  /*padding: 1em;
  font-size: 1em;*/
  font-variant: small-caps;
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  text-align: center;
  background-color: gray;
  padding-left: 10px;
  padding-right: 10px;

}

#footer-ul {
  list-style-type: none;
  margin: auto;
  width: 75%;
  list-style-type: none;
}

.empty {
  break-after: right;
}
