<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title id="home">Sundae Worship</title>
  <link rel="stylesheet" type="text/css" href="css/grid.css"/>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
  <!-- <link rel="stylesheet" href="css/small.css" media="(max-width: 479px)" title="no title"> -->
  <style type="text/css" media="screen, print">
  @font-face {
    font-family: "KR Sweet Tooth";
    src: url("fonts/KR Sweet Tooth.ttf");
  }
  </style>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>
  <nav id="nav" class="minus-padding navRow">
    <div class="align-left">
      <ul>
        <li class="nav-li-left nav1" id="link1"> Home </li>
        <li class="nav-li-left nav2" id="link2">Menu </li>
        <li class="nav-li-left nav3" id="link3">Our Story</li>
        <li class="nav-li-left nav4" id="link4">Team Members</li>
        <li class="nav-li-left nav5" id="link5">Contact</li>
      </ul>
    </div>
  </nav>
    <!-- <img srcset="images/food-restaurant-fruits-orange.jpg  1280w"
    src="images/food-restaurant-fruits-orange.jpg"
    alt="A Banana Split" /> -->
    <div class="photo-container">
      <div class="home">
        <h1>
          Sundae <br>  <p id="logo">s</p> Worship
        </h1>
      </div>
    </div>
    <div class="buffer-container">
    </div>
  <div class="container"> <!--container start-->
    <div>
      <div class="address">
        <p class="sidebar" id="sidebar-title">
          550 Ice Cream Lane
          Mulberry Hollow,
          Utah
          84501
          <br>
          <br>
          208-208-2080
        </p>
        <div class="address">
          <p class="sidebar">Sundae Worship began like every good love story -- with two young people who are brought together over a scoop of ice-cream, the first blushes of love and copious amounts of unhealthy obsession.  Except there was only a single, lonely person, an empty carton of Ben and Jerry's, but still with copious amounts of unhealthy obsession. This project began as an introductory project in a coding bootcamp.  It was supposed to be a single static webpage which used HTML &lt;table&gt; tags to create a menu.  Over the years I have come back to it again and again.  The tables got dropped as I tried to experiment using JavaScript to import data from a file, then write the table programmatically.  I was successful at that.  But then that wasn’t enough.  I thought why not just build a backend with MVC architecture.  And I was successful at that.  So here it is today.  A beautiful project made with a little bit of love and an unwarranted amount of obsession.
          </p>
        </div>
      </div>
    </div>
    <div id="menu" class="column-right fl-scroll-link">
      <table id="table" class="table">
        <tr>
          <th id="header-modified">Flavor
          </th>
          <th>Price
          </th>
          <th>
            link
          </th>
        </tr>
        <br>
      </table>
    </div>

      </div>
    </div>


  </div><!--container end-->
  <div class="space-between-menu-and-employees">
    <div class="empty">
    </div>
    <div style="width: 100%; height: 10px"  id="team">

    </div>
  </div>
  <div class="employee-container">
      <h2 class="employee-title">Employees</h2>
      <div class="team-grid"><!--get rid of div class center-->
        <!-- grids  -->
        <div>
          <img class="circle" src="images/bow-tie-businessman-fashion-man.jpg" alt="boss image" />
          <a href="#" class="grid-p"><p>Meet Ben: <br><br>An impulsive Vanilla lover.</p></a>
        </div>
        <div>
          <img class="circle" src="images/man-couple-people-woman.jpg" alt="coworkers boxing" />
          <a href="#" class="grid-p"><p>Meet Dolley Mae: <br><br>An argumentative mint chocolate-chipper. </p></a>
        </div>
        <div>
          <img class="circle" src="images/pexels-photo (1).jpg" alt="man lifting weights" />
          <a href="#" class="grid-p"><p>Meet Jerry: <br><br>A strawberry introvert. </p></a>
        </div>
        <div>
          <img class="circle" src="images/pexels-photo-89524 (1).jpg" alt="little girl" />
          <a href="#" class="grid-p"><p>Meet Riley: <br><br>A loquacious chocolate lover. </p></a>
        </div>
        <div>
          <img class="circle" src="images/pexels-photo-127968.jpg" alt="little girl floating" />
          <a href="#" class="grid-p"><p>Meet Lemery: <br><br>A sherbet pessimist. </p></a>
        </div>
        <div>
          <img class="circle" src="images/pexels-photo.jpg" alt="little girl surprised"/>
          <a href="#" class="grid-p"><p>Meet Nicki: <br><br>An aggressive Rocky Roader. </p></a>
        </div>
      </div>
    </div>
    <!--footer start-->
    <footer class="footer">
      <div class="footer-row">
        <ul class="footer-ul">
          <li class="footer-li"><a href="">Franchise</a></li>
          <li class="footer-li"><a href="">Jobs</a></li>
          <li class="footer-li"><a href="">Inquiries</a></li>
          <li class="footer-li"><a href="">Parties</a></li>
          <li class="footer-li"><a href="">Adventure</a></li>
          <li class="footer-li"><a href="">Coupons</a></li>
        </ul>
      </div>
      <div class="">
        <p class="footer-p">
          copyright © Trrapp
        </p>
      </div>
    </footer>
    <!--footer end-->
  </body>
  <script src="src/menu.js">
  </script>
  <script>
  (function(){
    console.log("adding script tags");
    window.addEventListener('DOMContentLoaded', (event) => {
      document.querySelector('#link1').addEventListener('click', () => {location.href = '#home'});
      document.querySelector('#link2').addEventListener('click', () => {location.href = '#menu'});
      document.querySelector('#link3').addEventListener('click', () => {location.href = '#sidebar-title'});
      document.querySelector('#link4').addEventListener('click', () => {location.href = '#team'});
      document.querySelector('#link5').addEventListener('click', () => {location.href = 'https://trrapp12.github.io/Sundae-Worship/contact.html'});
    });
  }());
  </script>
  <script>
  // Select all links with hashes
  $('a[href*="#"]')
    // Remove links that don't actually link to anything
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      // On-page links
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
        &&
        location.hostname == this.hostname
      ) {
        // Figure out element to scroll to
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        // Does a scroll target exist?
        if (target.length) {
          // Only prevent default if animation is actually gonna happen
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000, function() {
            // Callback after animation
            // Must change focus!
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) { // Checking if the target was focused
              return false;
            } else {
              $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
              $target.focus(); // Set focus again
            };
          });
        }
      }
    });
  </script>
  <script>
  (() => {
    window.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll("body > div.employee-container > div.team-grid > div").forEach(item => {
        item.addEventListener('mouseover', event => {
          console.log(item);
          item.lastElementChild.style.fontWeight = "bold"
        })
      })
      document.querySelectorAll("body > div.employee-container > div.team-grid > div").forEach(item => {
        item.addEventListener('mouseout', event => {
          console.log(item);
          item.lastElementChild.style.fontWeight = "normal"
        })
      })
    //   for (var i = 0; i < grid.length; i ++) {
    //     grid[i].addEventListener('mouseover', () => {
    //       console.log("mouse over grid =" + grid[i]);
    //       grid[i].lastElementChild.style.fontWeight = "bold";
    //   });
    //   grid[i].addEventListener('mouseout', () => {
    //     console.log("mouse out grid =" + grid[i]);
    //     grid[i].lastElementChild.style.fontWeight = "normal";
    // });
    // }
  });
 })();
  </script>
</html>
