/* Normalize.css */

* {
  margin: 0;
  padding: 0;
}

html {
  min-width: fit-content;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "photo"
    "buffer"
    "menu"
    "buffer2"
    "employees"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto 100vh 20vh 40vh 100vh 60vh 20vh;
  height: 100%;
  margin: 0;
  min-width: 100%;
  padding: 0;
  position: relative;
}
/* Logo.css */
h1 {
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 10em;
  font-weight: bolder;
  line-height: 220px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 20px black;
  transform: translateY(50%);
  width: 50%;
}

h2 {
  text-align: center;
}

li {
  color: #0000EE;
}

li:hover {
  background-color: #9375EB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li:visited {
  color: #0000EE;
}

ul {
  display: grid;
  grid-template-areas:
    "nav1 nav2 nav3 nav4 nav5";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100%;

}
.navRow {
  grid-area: header;
}
.nav1 {
  grid-area: nav1;
}
.nav2 {
  grid-area: nav2;
}
.nav3 {
  grid-area: nav3;
}
.nav4 {
  grid-area: nav4;
}
.nav5 {
  grid-area: nav5;
}

.buffer-container {
  grid-area: buffer;
}

.photo-container {
  background-image: url("../images/food-restaurant-fruits-orange.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: photo;
  grid-template-areas:
  "photo1 photo2 photo3"
  "photo4 photo5 photo6"
  "photo7 photo8 photo9";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  height: 126%;
  position: relative;
}

.home {
  display: inline;
  position: relative;
  z-index: 200;
}

#logo {
  font-family: "KR Sweet Tooth";
  font-size: 150px;
  line-height: 10px;
  margin:-10px;
  padding: 0;
}

/* navbar.css */

.nav-li-left {
  height: 2.625em;
  margin: 0;
  padding-top: 26px;
  text-align: center;
  text-decoration: none;
}

li a {
  color: #0000EE;
}

ul {
  clear: left;
  margin: 0;
  padding: 0;
}

li {

  border: 1px solid white;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  height: 5.25px;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;

}

.align-left {
  float: left;
  margin: 0;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
  width: 100%;
}

.minus-padding {
  background-image: linear-gradient(white, gray);
  border: 2px solid white;
  height: 69px;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.main-photo {
  max-height: 62.5em;
  position: relative;
  width: auto;
}

#heading {
  font-size: .2rem;
}

@media (max-width: 490px) {

  .nav-li-left {
    display: block;
    float: none;
    height: 2.625em;
    margin: 0;
    padding-top: 26px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  ul .nav-li-left {
    background-image: linear-gradient(white, gray);
  }

  .minus-padding {
    background-image: linear-gradient(white, gray);
    border: 2px solid white;
    display: block;
    height: 69px;
    left: 0;
    margin: 0;
    opacity: 0.5;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .main-photo {
    max-height: 62.5em;
    position: relative;
    width: auto;

  }

  #heading {
    font-size: .2rem;
  }

  #nav {
    position:relative;
  }

  div.column-left {
    float: left;
    margin-left: auto;
    margin-right: auto;
    max-height: 80em;
    min-height: fit-content;
    padding: 0;
    width: 100%;
}
  .sidebar {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    margin-top: 0;
    padding: 0 1.875em 2.62em 1.875em;
  }

  p#sidebar-title.sidebar{
    font-size: 1.5em;
    line-height: normal;
    margin-top: 0;
    padding: 1em;
    text-align: center;
    width: 80%;
  }

  div.address > p.sidebar {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.75em;
    margin-top: 0;
    padding: 0 1.875em 2.62em 1.875em;
  }
  div.column-right {
    border: 1px solid black;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
  }

  .table {
    border-left: 0;
    margin-left: 0;
    padding-right: 2em;
    width: 100%;
  }

  img.circle {
    display: none;
  }

  div .grid > a > p {
    font-size: 1em;
    margin: 2px;
  }

  ul#footer-ul > li.footer-li > a {
    font-size: 1.5em;
    width: 100%;
  }
  ul#footer-ul > li.footer-li {
    width: 100%;
  }
  tbody > tr > td {
    min-width: 8em;
    padding: 0;
    text-align: center;
  }
  tr th {
    display: none;
  }
  h2#employees {
      color: white;
      display: block;
      font-family: 'Josefin Slab', serif;
      font-size: 3em;
      font-weight: bolder;
      line-height: 20px;
      max-height: 4.1em;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-shadow: 1px 1px 20px black;
      top: 1.5em;
      width: 100%;
  }

  ul#footer-ul > li.footer-li {
    line-height: 120%;
    padding: 2px;
    width: 20%;
  }

  ul#footer-ul > li.footer-li > a {
    font-size: 0.5em;
    line-height: 120%;
    text-align: center;
    width: 100%;
  }

}

/* body.css */
.center {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 150px;
  transform: translate(8.95%, 0%);
  width: 70%;
}

.empty {
  border: 0;
  float: left;
  grid-area: employees;
  margin: 0;
  position: relative;
  width: 100%;
}

#employees {
  color: white;
  display: block;
  font-family: 'Josefin Slab', serif;
  font-size: 4em;
  font-weight: bolder;
  line-height: 220px;
  max-height: 4.1em;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 20px black;
  top: 2em;
  width: 100%;
}

.circle {
  border-radius: 100%;
  width: 100%;
}

.grid {
  display: inline-block;
  height: auto;
  margin-top: 4em;
  padding-left: 1em;
  padding-right: 1em;
  width: 24%;
}

.column-left {
  float: left;
  max-height: 80em;
  min-height: fit-content;
  padding-left: 1.85em;
  width: 40%;
}

.contact {
  line-height:1;
  margin: 0 3em 0 3em;
}

.sidebar {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75em;
  margin-top: 0;
  padding: 0 1.875em 2.62em 1.875em;
}

#sidebar-title {
  font-size: 2em;
  line-height: normal;
  margin-top: 0;
  padding: 1em;
}

.table {
  border-left: 0;
  margin-left: 0;
  padding-right: 2em;
  width: 100%;
}

.column-right {
  border: 1px solid black;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  width: 55%;
}

tbody tr:nth-child(2n+2) {
   background-color: #ccc;
}

tr th {
  font-size: 1.3em;
  font-weight: bolder;
  min-width: 8em;
  padding: 1.25em;
  text-decoration: underline;
  text-transform: uppercase;
}

td {
  min-width: 8em;
  padding: 1.25em;
  text-align: center;
}

.address {
  background-color: #F5F5F5;
}

#header-modified {
  background-color: white;
}

.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
}

/* .row-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block
} */

.footer {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 250%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer-li {
  box-sizing: border-box;
  clear: both;
  padding: 0;
}

.footer-p {
  box-sizing: border-box;
  text-align: center;
}

.footer-row {
  box-sizing: border-box;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

.container {
  display: grid;
  grid-area: menu;
  grid-gap: 10px;
  grid-template-areas:
    "container_margin_left container_left container_right container_margin_right";
  grid-template-columns: 10% 1fr 1fr 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.footer-row ul {
    clear: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
    padding-top: 45px;
    width: 59%;
}

.grid p {
  display: none;
}

@media screen and (max-width: 1100px) {
    .grid {
    display: inline-block;
    height: auto;
    margin-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
    width: 50%;
  }
  .circle {
      border-radius: 100%;
      width: 24%;
  }
  .footer-row ul {
    clear: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
    padding-top: 45px;
    width: 82%;
  }
  .grid p  {
      display: inline-block;
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      margin-left: 30px;
      margin-top: 24px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
  }
  .grid a {
    color: gray;
  }
}

/* footer.css */

.button {
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  position: relative;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer-row {
  display: block;
  height: 200px;
  width: 100%;
}

.footer-li {
  background-color: gray;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-variant: small-caps;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#footer-ul {
  list-style-type: none;
  margin: auto;
  width: 75%;
}
