/* Normalize.css */

* {
  margin: 0;
  padding: 0;
}

html {
  min-width: fit-content;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "photo"
    "buffer"
    "menu"
    "buffer2"
    "employees"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: 0 100vh 45vh auto 20vh 124vh 16vh;
  height: 100%;
  margin: 0;
  min-width: 100%;
  padding: 0;
  position: relative;
}
/* Logo.css */
h1 {
  color: white;
  font-family: "Josefin Slab", serif;
  font-size: 10em;
  font-weight: bolder;
  line-height: 220px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 20px black;
  transform: translateY(50%);
  width: 50%;
}

.contact-h2 {
  border-bottom: 2px solid purple;
  color: white;
  display: grid;
  font-family: "Josefin Slab", serif;
  font-size: 5em;
  font-weight: bolder;
  grid-column: 1 / 40;
  grid-row: 1 / 2;
  height: 1.43em;
  line-height: 220px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 20px purple;
}

.contact-h2:hover {
  color: white;
  font-family: "Josefin Slab", serif;
  font-size: 5em;
  font-weight: bolder;
  line-height: 220px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 20px rgba(128, 0, 128, 1.0), 1px 1px 50px rgba(255, 165, 0, .5), 1px 1px 60px rgba(255, 255, 255, .05);
}

h2 {
  text-align: center;
}

li {
  color: #0000ee;
}

li:hover {
  background-color: #9375eb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li:visited {
  color: #0000ee;
}

ul {
  display: grid;
  grid-template-areas: "nav1 nav2 nav3 nav4 nav5";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100%;
}
.navRow {
  grid-area: header;
}
.nav1 {
  grid-area: nav1;
}
.nav2 {
  grid-area: nav2;
}
.nav3 {
  grid-area: nav3;
}
.nav4 {
  grid-area: nav4;
}
.nav5 {
  grid-area: nav5;
}

.buffer-container {
  grid-area: buffer;
}

.photo-container {
  background-image: url("../images/food-restaurant-fruits-orange.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: photo;
  grid-template-areas:
    "photo1 photo2 photo3"
    "photo4 photo5 photo6"
    "photo7 photo8 photo9";
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  height: 126%;
  position: relative;

}

.home {
  display: inline;
  position: relative;
  z-index: 200;
}

#logo {
  font-family: "KR Sweet Tooth";
  font-size: 150px;
  line-height: 10px;
  margin: -10px;
  padding: 0;
}

/* navbar.css */

.nav-li-left {
  height: 2.625em;
  margin: 0;
  padding-top: 26px;
  text-align: center;
  text-decoration: none;
}

li a {
  color: #0000ee;
}

ul {
  clear: left;
  margin: 0;
  padding: 0;
}

li {
  border: 1px solid white;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  height: 5.25px;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.align-left {
  float: left;
  margin: 0;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
  width: 100%;
}

.minus-padding {
  background-image: linear-gradient(white, gray);
  border: 2px solid white;
  height: 69px;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.main-photo {
  max-height: 62.5em;
  position: relative;
  width: auto;
}

#heading {
  font-size: 0.2rem;
}

.employee-container {
  display: grid;
  grid-area: employees;
  grid-template-areas:
    "employee_title1 employee_title2 employee_title3"
    "employee_left_c employee_center_c employee_right_c";
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 24vh 78vh;
}

.employee-title {
  color: white;
  display: grid;
  font-family: "Josefin Slab", serif;
  font-size: 4em;
  font-weight: bolder;
  grid-area: employee_title2;
  line-height: 220px;
  max-height: 4.1em;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 20px black;
  top: 2em;
  width: 100%;
}

.team-grid {
  display: grid;
  gap: 3rem;
  grid-area: employee_center_c;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: auto;
  width: 70%;
}

.team-grid > div {
  border-radius: 25px;
  display: grid;
  padding: 1rem;
  place-items: center;
}

.team-grid > div::before {
  background-color: black;
  content: "";
  display: block;
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 100%;
}

.team-grid > div > img {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

.grid-p {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

footer > ul {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100%;
  justify-items: center;
}

.arrow-container {
  background-color: transparent;
  content: "";
  display: grid;
  grid-area: photo8;
  grid-template-columns: 5em;
  grid-template-rows: 5em;
  height: 80px;
  margin: auto;
  padding: 0;
  position: fixed;
  transform: translateY(21rem) translateX(calc((100vw / 2) - 40px));
  width: 80px;
}

.arrow-left {
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  grid-area: 1 / 1 / 2 / 2;
  height: 1rem;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  transform: translateX(-29px) translateY(40px) rotate(28deg);
  transform-origin: top right;
  width: 5em;
  z-index: 100;
}

.arrow-left::before {
  background: white;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 6px 6px 15px #656565, -6px -6px 15px #ffffff;
  content: "";
  display: flex;
  height: 1em;
  width: 5em;
  z-index: -1;
}

.arrow-left-flipped {
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  grid-area: 1 / 1 / 2 / 2;
  height: 1rem;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  transform: translateX(-50px) translateY(40px) rotate(208deg);
  transform-origin: top right;
  width: 5em;
}

.arrow-left-flipped::before {
  background: white;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 6px 6px 15px #656565, -6px -6px 15px #ffffff;
  content: "";
  display: flex;
  height: 1em;
  width: 5em;
  z-index: -1;
}

.arrow-right-flipped {
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  grid-area: 1 / 1 / 2 / 2;
  height: 1rem;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  transform: translateX(50px) translateY(40px) rotate(152deg);
  transform-origin: top left;
  width: 5em;
}

.arrow-right-flipped::before {
  background: white;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 6px 6px 15px #656565, -6px -6px 15px #ffffff;
  content: "";
  display: flex;
  height: 1em;
  width: 5em;
  z-index: -1;
}

.arrow-right {
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  grid-area: 1 / 1 / 2 / 2;
  height: 1rem;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  transform: translateX(31px) translateY(40px) rotate(332deg);
  transform-origin: top left;
  width: 5em;
  z-index: 1;
}

.arrow-right::before {
  background: white;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 6px 6px 15px #656565, -6px -6px 15px #ffffff;
  content: "";
  display: flex;
  height: 1em;
  width: 5em;
  z-index: -1;
}

.contact-page-modal {
  background-color: rgb(160,160,160);
  background-color: rgba(160,160,160,.5);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.contact-page-modal-content {
  background: orange;
  border-radius: 57px;
  box-shadow: 41px 41px 84px #636363, -41px -41px 84px #ffffff;
  display: grid;
  grid-template-columns: repeat(40, minmax(10px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  height: 85%;
  margin: auto;
  margin-top: 10vh;
  top: 10vh;
  width: 60%;
}
/* 28 pixels  1140 pixels  1900*/

.form-container {
    background: white;
    border-bottom-left-radius: 57px;
    border-bottom-right-radius: 57px;
    display: grid;
    grid-column: 1 / 41;
    grid-row: 2 / 3;
    height: 78%;
    margin: auto;
    margin-top: 18vh;
    width: 100%;
}

input[type=text], input[type=submit], select, textarea {
  background: white;
  border: 2px solid purple;
  border-radius: 0;
  color: rgb(147, 117, 235);
  color: rgba(147, 117, 235, .4);
  font-family: "Josefin Slab", serif;
  font-size: 1em;
  font-weight: bolder;
  margin: 1em 1em;
  padding: 1em;
  width: 75%;
}
input[type=text]:hover, select:hover, textarea:hover {

  border-radius: 0;
  border: 2px solid orange;
  color: white;
  font-family: "Josefin Slab", serif;
  font-size: 1em;
  font-weight: bolder;
  margin: 1em 1em;
  padding: 1em;
  width: 75%;
}

div .message {
    color: rgb(147, 117, 235);
    color: rgba(147, 117, 235, .4);
    height: 24vh;
    width: 28vw;
}

div .message:hover {
    color: white;
    height: 24vh;
    width: 28vw;
}

div .submit-button {
    background-color: purple;
    border-radius: 10px;
    color: white;
    margin-left: 3vw;
    margin-right: 0;
    width: 12vw;
}

div .submit-button:hover {
  background-color: orange;
  border: 2px solid orange;
  border-radius: 10px;
  color: white;
  margin-left: 3vw;
  margin-right: 0;
  width: 12vw;
}

form {
  display: grid;
  grid-template-areas:
      "col1 message message"
      "col2 message message"
      "col3 message message"
      "col4 col54 col6";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 46vh;
  padding: 4vh;
}

.f-name {
  display: grid;
  grid-area: col1;

}

.f-name-input {
  display: grid;
  grid-area: col1;

}

.l-name {
  display: grid;
  grid-area: col2;

}

.l-name-input {
  display: grid;
  grid-area: col2;

}

.message {
  display: grid;
  grid-area: message;

}

.message-name-input {
  display: grid;
  grid-area: message;

}

.s-button {
  display: grid;
  grid-area: col6;
  height: 1vh;

}

.email {
  display: grid;
  grid-area: col3;
}

.close {
  color: white;
  display: grid;
  font-family: "Josefin Slab", serif;
  font-size: 5em;
  font-weight: bolder;
  grid-column: 39 / 40;
  grid-row: 1 / 2;
  height: 10vh;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 7px rgb(128 0 128 / 49%);
  width: 10vh;
}

.close:hover {
  cursor: default;
  display: grid;
  grid-column: 39 / 40;
  grid-row: 1 / 2;
  text-shadow: 2px 2px 14px rgba(128,0,128,1);
  transform: rotateZ(720deg);
  transform-origin: center;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.close-holder {
  display: grid;
  grid-column: 1 / 41;
  grid-row: 1 / 2;
  height: 1vw;
  margin-right: -1em;
}

/* body.css */
.empty {
  border: 0;
  float: left;
  margin: 0;
  position: relative;
  width: 100%;
}

.circle {
  border-radius: 100%;
  /* width: 100%; */
}

.column-left {
  float: left;
  max-height: 80em;
  min-height: fit-content;
  padding-left: 1.85em;
  width: 40%;
}

.contact {
  line-height: 1;
  margin: 0 3em 0 3em;
}

.sidebar {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-size: 1.75em;
  margin-top: 2em;
  padding: 0 1.875em 2.62em 1.875em;
}

.sidebar-text {
  font-size: 1.5em;
}

.sidebar-title {
  background-color: #A663A6;
  color: white;
  font-size: 2em;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  padding: 2em;
  text-transform: uppercase;
}

.table {
  border-left: 0;
  margin-left: 0;
  padding-right: 2em;
  width: 100%;
}

.column-right {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}

tbody tr:nth-child(2n + 2) {
  background-color: #ccc;
}

tr th {
  font-size: 1.3em;
  font-weight: bolder;
  min-width: 8em;
  padding: 1.25em;
  text-decoration: underline;
  text-transform: uppercase;
}

td {
  min-width: 8em;
  padding: 1.25em;
  text-align: center;
}

.address {
  background-color: #f5f5f5;
}

#header-modified {
  background-color: white;
}

.footer {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  grid-area: footer;
  line-height: 250%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
}

.footer-li {
  box-sizing: border-box;
  clear: both;
  padding: 0;
}

.footer-p {
  box-sizing: border-box;
  text-align: center;
}

.footer-row {
  box-sizing: border-box;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

.container {
  display: grid;
  grid-area: menu;
  grid-gap: 10%;
  grid-template-areas: "container_left container_right";
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.footer-row ul {
  clear: left;
  display: grid;
  grid-template-areas: "nav1 nav2 nav3 nav4 nav5";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
  padding-top: 45px;
  width: 100%;
}

.grid p {
  display: none;
}

/* footer.css */

.button {
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  position: relative;
}

.footer-li {
  background-color: gray;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-variant: small-caps;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.footer-ul {
  list-style-type: none;
  margin: auto;
  width: 75%;
}

.cookie-icon {
  margin: 1rem;
  margin-top: 5rem;
  width: 100%;
}

.cookie > .fa, .fas {
  display: inline-block;
}

.cookie-icon > .fas:before, .fa:before {
  color: rgb(147 117 235);
  display: inline-block;
  font-size: 3em;
}

.cookie-h3 {
  display: inline-block;
  font-size: 2em;
  margin: 0;
  margin-left: 2rem;
  width: 90%;
}

.cookie-banner-container {
  backdrop-filter: blur(6px);
  display: grid;
  grid-template-areas:
    "colleft title title title spacer col1 colright"
    "colleft message message message spacer col2 colright"
    "colleft bottom bottom bottom spacer col3 colright";
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  height: 30%;
  position: fixed;
  top: 70vh;
  width: 100%;
  z-index: 300;
}

.cookie-banner-container-hidden {
  animation: slide_left 1.5s ease-in 1s;
  backdrop-filter: blur(6px);
  display: grid;
  grid-template-areas:
    "colleft title title title spacer col1 colright"
    "colleft message message message spacer col2 colright"
    "colleft bottom bottom bottom spacer col3 colright";
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  height: 30%;
  position: fixed;
  top: 70vh;
  width: 100%;
  z-index: 300;
}

/* @keyframes slide_left {
  0% {
    transform: translateX(0vw) rotate3d(0);
  }

  100% {
    transform: rotate3d(1, 0, 0, 100deg);
    transform-origin: bottom;
    visibility: hidden;
    opacity: 0;
  }
} */

@keyframes exampleAnimation {
  0% {
    transform: translateY(5px);
  }

  10% {
    transform: translateY(50px);
  }

  20% {
    transform: translateY(15px);
  }

  30% {
    transform: translateY(20px);
  }

  40% {
    transform: translateY(25px);
  }

  50% {
    transform: translateY(30px);
  }

  60% {
    transform: translateY(35px);
  }

  70% {
    transform: translateY(40px);
  }

  80% {
    transform: translateY(45px);
  }

  90% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes exampleAnimation2 {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(0);
  }

  100% {
    opacity: 0;
  }
}

@keyframes exampleAnimation3 {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.cookie-banner-message-container {
  background-color: #ffffff5c;
  display: grid;
  grid-area: message;
}


.cookie-policy-container {
  background-color: white;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.cookie-policy-message-container {
  margin: auto;
  padding: 20%;
  width: 55%;
}


.cookie-policy-button-container {
  display: grid;
  grid-area: col2;
  grid-template-areas:
    "policy-button"
    "agree-button"
    "disagree-button";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
}

.cookie-policy-button {
  align-self: center;
  background-color: #ffffff5c;
  border: solid white;
  border-radius: 25px;
  color: #636363;
  display: grid;
  justify-self: center;
  min-width: 6em;
  padding: 1em;
  text-align: center;
}

.cookie-policy-button:hover {
  background-color: rgba(147, 117, 235, 0.4);
  background-color: rgb(147, 117, 235)
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  color: white;
}

.cookie-message {
  color: #636363;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  padding: 2rem;
  border: double;
  border-color: white;
  border-width: 1vw;
}

.cookie-message:hover {
  background-color: rgba(147, 117, 235, 0.4);
  background-color: rgb(147, 117, 235)
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  color: white;
}

.cookie-message-buffer{
  margin-top: 2vw;
}

.cookie-message > h3 {
  margin-left: 2rem;
  text-align: left;
}

.cookie-message > ul {
  display: list-item;
  list-style-type: circle;
  margin-left: 2rem;
}

.cookie-title > h3 {
  margin-left: 0;
}
/* 490px media queries start */
@media (max-width: 490px) {
  .nav-li-left {
    display: block;
    float: none;
    height: 2.625em;
    margin: 0;
    padding-top: 26px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  ul .nav-li-left {
    background-image: linear-gradient(white, gray);
  }

  .minus-padding {
    background-image: linear-gradient(white, gray);
    border: 2px solid white;
    display: block;
    height: 69px;
    left: 0;
    margin: 0;
    opacity: 0.5;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .main-photo {
    max-height: 62.5em;
    position: relative;
    width: auto;
  }

  #heading {
    font-size: 0.2rem;
  }

  #nav {
    position: relative;
  }

  div.column-left {
    float: left;
    margin-left: auto;
    margin-right: auto;
    max-height: 80em;
    min-height: fit-content;
    padding: 0;
    width: 100%;
  }
  .sidebar {
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-size: 1.75em;
    margin-top: 2em;
    padding: 0 1.875em 2.62em 1.875em;
  }

  p#sidebar-title.sidebar {
    font-size: 1.5em;
    line-height: normal;
    margin-top: 0;
    padding: 1em;
    text-align: center;
    width: 80%;
  }

  div.address > p.sidebar {
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-size: 0.75em;
    margin-top: 0;
    padding: 0 1.875em 2.62em 1.875em;
  }

  div.column-right {
    display: inline-block;
    font-family: "Quicksand", sans-serif;
  }

  .table {
    border-left: 0;
    margin-left: 0;
    padding-right: 2em;
    width: 100%;
  }

  img.circle {
    display: none;
  }

  div .grid > a > p {
    font-size: 1em;
    margin: 2px;
  }

  ul#footer-ul > li.footer-li > a {
    font-size: 1.5em;
    width: 100%;
  }

  ul#footer-ul > li.footer-li {
    width: 100%;
  }

  tbody > tr > td {
    min-width: 8em;
    padding: 0;
    text-align: center;
  }

  tr th {
    display: none;
  }

  h2#employees {
    color: white;
    display: block;
    font-family: "Josefin Slab", serif;
    font-size: 3em;
    font-weight: bolder;
    line-height: 20px;
    max-height: 4.1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 20px black;
    top: 1.5em;
    width: 100%;
  }

  ul#footer-ul > li.footer-li {
    line-height: 120%;
    padding: 2px;
    width: 20%;
  }

  ul#footer-ul > li.footer-li > a {
    font-size: 0.5em;
    line-height: 120%;
    text-align: center;
    width: 100%;
  }
}

/* media query 490px end */



/* media 1100px start */
@media screen and (max-width: 1100px) {
  .grid {
    display: inline-block;
    height: auto;
    margin-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
    width: 50%;
  }

  .circle {
    border-radius: 100%;
    width: 24%;
  }

  .footer-row ul {
    clear: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
    padding-top: 45px;
    width: 82%;
  }

  .grid p {
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 24px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
  }
  .grid a {
    color: gray;
  }
}
/* media query 1100px end */

/* media query 1450px */

@media only screen and (max-width: 1450px) {

  form {
      display: grid;
      grid-template-areas:
          "col1"
          "col2"
          "col3"
          "col4"
          "col5";
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      height: 62vh;
      padding: 1vh;
      width: 100%;
      padding-top: 4vh;
  }

  .form-container {
      background: white;
      border-bottom-left-radius: 57px;
      border-bottom-right-radius: 57px;
      display: grid;
      grid-column: 1 / 41;
      grid-row: 2 / 3;
      height: 100%;
      margin: auto;
      margin-top: 5vh;
      width: 100%;
  }

  form > div > .submit-button {
    background-color: purple;
    border: 2px solid purple;
    border-radius: 10px;
    color: white;
    font-family: "Josefin Slab", serif;
    font-size: 1em;
    font-weight: bolder;
    padding: 1em;
    margin-left: 67%;
    margin-top: 2em;
    width: 12vw;
  }

  form > div > .submit-button:hover {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-radius: 10px;
    margin-left: 67%;
    margin-top: 2em;
    width: 12vw;
  }

  .f-name-input {
    display: grid;
    grid-area: col1;
  }

  .l-name-input {
    display: grid;
    grid-area: col2;
  }

  .email {
    display: grid;
    grid-area: col3;
  }

  .message {
    display: block;
  }

  .message-name-input {
      display: grid;
      grid-area: col4;
      margin-top: 2vh;
  }

  .s-button {
    display: grid;
    grid-area: col5;
  }

div .message {
    background: white;
    border: 2px solid purple;
    border-radius: 0;
    color: rgb(147, 117, 235);
    color: rgba(147, 117, 235, .4);
    font-family: "Josefin Slab", serif;
    font-size: 1em;
    font-weight: bolder;
    grid-area: auto;
    height: 9vh;
    padding: 1em;
    width: 70%;
    padding: 1em;
    margin: auto;
    width: 70%;
}

  div .message:hover {
    color: white;
    height: 9vh;
    padding: 1em;
    width: 70%;
    margin: auto;
  }

  input[type=text], input[type=submit], select, textarea {
      background: white;
      border: 2px solid purple;
      border-radius: 0;
      color: rgb(147, 117, 235);
      color: rgba(147, 117, 235, .4);
      font-family: "Josefin Slab", serif;
      font-size: 1em;
      font-weight: bolder;
      margin: 1em 1em;
      padding: 1em;
      width: 70%;
      margin: auto;
      margin-top: 3vh;
  }

  input[type=text]:hover, input[type=submit]:hover, select:hover, textarea:hover {
      background: white;
      border: 2px solid orange;
      border-radius: 0;
      color: rgb(147, 117, 235);
      color: rgba(147, 117, 235, .4);
      font-family: "Josefin Slab", serif;
      font-size: 1em;
      font-weight: bolder;
      margin: 1em 1em;
      padding: 1em;
      width: 70%;
      margin: auto;
      margin-top: 3vh;
  }

  .contact-h2 {
    border-bottom: 2px solid purple;
    color: white;
    display: grid;
    font-family: "Josefin Slab", serif;
    font-size: 3em;
    font-weight: bolder;
    grid-column: 1 / 40;
    grid-row: 1 / 2;
    line-height: 133px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 20px purple;
  }

  .contact-h2:hover {
    border-bottom: 2px solid purple;
    color: white;
    display: grid;
    font-family: "Josefin Slab", serif;
    font-size: 3em;
    font-weight: bolder;
    grid-column: 1 / 40;
    grid-row: 1 / 2;
    line-height: 133px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 20px purple;
  }

  .contact-page-modal {
    background-color: rgb(160,160,160);
    background-color: rgba(160,160,160,.5);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
  }

  .contact-page-modal-content {
    background: orange;
    border-radius: 57px;
    box-shadow: 41px 41px 84px #636363, -41px -41px 84px #ffffff;
    display: grid;
    grid-template-columns: repeat(40, minmax(10px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    height: 80%;
    margin: auto;
    margin-top: 10vh;
    top: 10vh;
    width: 59%;
  }

  .close {
    color: white;
    display: grid;
    font-family: "Josefin Slab", serif;
    font-size: 5em;
    font-weight: bolder;
    grid-column: 39 / 40;
    grid-row: 1 / 2;
    height: 10vh;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 7px rgb(128 0 128 / 49%);
    width: 10vh;
  }

}
